.elementor-50914 .elementor-element.elementor-element-568d901 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50914 .elementor-element.elementor-element-c4c7d7e {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 50px;
    --padding-right: 50px;
}

body:not(.rtl) .elementor-50914 .elementor-element.elementor-element-eba29af {
    left: 33%;
}

body.rtl .elementor-50914 .elementor-element.elementor-element-eba29af {
    right: 33%;
}

.elementor-50914 .elementor-element.elementor-element-eba29af {
    top: 32px;
    text-align: center;
}

.elementor-50914 .elementor-element.elementor-element-eba29af .elementor-heading-title {
    color: #000000;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 20px;
}

.elementor-50914 .elementor-element.elementor-element-5462486>.elementor-widget-container {
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #CCCCCC;
}

.elementor-50914 .elementor-element.elementor-element-e21eb3a>.elementor-widget-container {
    margin: 35px 0px 10px 0px;
}

.elementor-50914 .elementor-element.elementor-element-e21eb3a {
    text-align: center;
}

.elementor-50914 .elementor-element.elementor-element-e21eb3a .elementor-heading-title {
    color: #000000;
    font-size: 20px;
}

.elementor-50914 .elementor-element.elementor-element-49fc92e {
    width: var( --container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
    text-align: center;
}

.elementor-50914 .elementor-element.elementor-element-49fc92e>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
    border-style: dashed;
    border-width: 3px 3px 3px 3px;
    border-color: #000000;
}

.elementor-50914 .elementor-element.elementor-element-49fc92e .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}

.elementor-50914 .elementor-element.elementor-element-fb473e8 img {
    width: 25%;
}

.elementor-50914 .elementor-element.elementor-element-4b87c3c .elementor-button {
    background-color: #1FC862;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 25px 15px 25px;
}

.elementor-50914 .elementor-element.elementor-element-4b87c3c>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-50914 .elementor-element.elementor-element-4b87c3c .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-50914 .elementor-element.elementor-element-4b87c3c .elementor-button .elementor-button-content-wrapper {
    gap: 15px;
}

.elementor-50914 .elementor-element.elementor-element-4fc2ee9 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --border-radius: 0px 25px 25px 0px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-left: 25px;
    --padding-right: 25px;
}

.elementor-50914 .elementor-element.elementor-element-4fc2ee9:not(.elementor-motion-effects-element-type-background),
.elementor-50914 .elementor-element.elementor-element-4fc2ee9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F4F9FF;
}

.elementor-50914 .elementor-element.elementor-element-4fc2ee9,
.elementor-50914 .elementor-element.elementor-element-4fc2ee9::before {
    --border-transition: 0.3s;
}

.elementor-50914 .elementor-element.elementor-element-4fc2ee9.e-con {
    --align-self: stretch;
}

#elementor-popup-modal-50914 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-50914 .dialog-message {
    width: 850px;
    height: auto;
}

#elementor-popup-modal-50914 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-50914 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-50914 .elementor-element.elementor-element-e21eb3a>.elementor-widget-container {
        margin: 25px 0px 10px 0px;
    }
    .elementor-50914 .elementor-element.elementor-element-4b87c3c .elementor-button {
        padding: 15px 15px 15px 15px;
    }
}

@media(max-width:767px) {
    .elementor-50914 .elementor-element.elementor-element-c4c7d7e {
        --padding-top: 50px;
        --padding-bottom: 25px;
        --padding-left: 25px;
        --padding-right: 25px;
    }
    .elementor-50914 .elementor-element.elementor-element-49fc92e>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }
    .elementor-50914 .elementor-element.elementor-element-fb473e8>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }
    .elementor-50914 .elementor-element.elementor-element-fb473e8 img {
        width: 100%;
    }
    .elementor-50914 .elementor-element.elementor-element-4b87c3c .elementor-button {
        font-size: 15px;
        line-height: 1.2em;
        padding: 15px 25px 15px 25px;
    }
}

/* Start custom CSS for heading, class: .elementor-element-eba29af */

.elementor-50914 .elementor-element.elementor-element-eba29af h3 {
    background: #fff;
    padding: 5px;
}

/* End custom CSS */

/* Start custom CSS for shortcode, class: .elementor-element-5462486 */

.elementor-50914 .elementor-element.elementor-element-5462486 {
    height: 145px;
    line-height: 1.3em;
    color: #FF0000;
    font-size: 125px;
    font-family: bebas neue;
}

@media screen and (max-width:850px) {
    .elementor-50914 .elementor-element.elementor-element-5462486 {
        font-size: 100px;
        height: 115px;
    }
}

/* End custom CSS */

/* Start custom CSS for image, class: .elementor-element-fb473e8 */

@media screen and (max-width:767px) {
    .elementor-50914 .elementor-element.elementor-element-fb473e8 img {
        object-fit: contain;
        height: 150px;
    }
}

/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-4b87c3c */

.elementor-50914 .elementor-element.elementor-element-4b87c3c {
    text-shadow: 2px 2px #00000055;
}

/* End custom CSS */