.elementor-26575 .elementor-element.elementor-element-86c68c2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #CCCCCC;
    --border-color: #CCCCCC;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-26575 .elementor-element.elementor-element-86c68c2:not(.elementor-motion-effects-element-type-background), .elementor-26575 .elementor-element.elementor-element-86c68c2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #fff;
}

.elementor-26575 .elementor-element.elementor-element-86c68c2, .elementor-26575 .elementor-element.elementor-element-86c68c2::before {
    --border-transition: 0.3s;
}

.elementor-26575 .elementor-element.elementor-element-bd501a4 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-26575 .elementor-element.elementor-element-bd501a4.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-26575 .elementor-element.elementor-element-8afbbb6 {
    width: auto;
    max-width: auto;
}

.elementor-26575 .elementor-element.elementor-element-8afbbb6 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.elementor-26575 .elementor-element.elementor-element-0811667 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-26575 .elementor-element.elementor-element-0811667.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-26575 .elementor-element.elementor-element-b81ea72 {
    text-align: right;
}

.elementor-26575 .elementor-element.elementor-element-b81ea72 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 17px;
}

.elementor-26575 .elementor-element.elementor-element-653716e {
    --display: flex;
    --align-items: flex-end;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --background-transition: 0.3s;
}

.elementor-26575 .elementor-element.elementor-element-653716e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-26575 .elementor-element.elementor-element-22acb31 .elementor-button {
    background-color: #FFA41C;
    fill: #000000;
    color: #000000;
    border-radius: 30px 30px 30px 30px;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before, .elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width: 1024px) {
    .elementor-26575 .elementor-element.elementor-element-86c68c2 {
        --flex-direction:row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --gap: 0px 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-26575 .elementor-element.elementor-element-bd501a4 {
        --justify-content: center;
    }

    .elementor-26575 .elementor-element.elementor-element-0811667 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(max-width: 767px) {
    .elementor-26575 .elementor-element.elementor-element-bd501a4 {
        --width:65%;
    }

    .elementor-26575 .elementor-element.elementor-element-0811667 {
        --width: 20%;
    }

    .elementor-26575 .elementor-element.elementor-element-653716e {
        --width: 35%;
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    }
}

@media(min-width: 768px) {
    .elementor-26575 .elementor-element.elementor-element-86c68c2 {
        --content-width:1250px;
    }

    .elementor-26575 .elementor-element.elementor-element-bd501a4 {
        --width: 35%;
    }

    .elementor-26575 .elementor-element.elementor-element-0811667 {
        --width: 55%;
    }

    .elementor-26575 .elementor-element.elementor-element-653716e {
        --width: 10%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-26575 .elementor-element.elementor-element-bd501a4 {
        --width:35%;
    }

    .elementor-26575 .elementor-element.elementor-element-0811667 {
        --width: 45%;
    }

    .elementor-26575 .elementor-element.elementor-element-653716e {
        --width: 20%;
    }
}

/* Start custom CSS for heading, class: .elementor-element-8afbbb6 */
.elementor-26575 .elementor-element.elementor-element-8afbbb6 span {
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-26575 .elementor-element.elementor-element-8afbbb6 span:first-of-type {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 2px;
    translate: 0px -5px;
    font-weight: 400;
}

/* End custom CSS */
